# Importing Library

In [20]:
import numpy as np
import pandas as pd
import matplotlib as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

# loading data

In [21]:
df=pd.read_csv("50_Startups.csv")
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

# Preprocessing data

In [22]:
#importing dummies
state_dumies=pd.get_dummies(df["State"], drop_first=True)

In [23]:
df=df.drop(["State"], axis=1)

In [26]:
df=pd.concat([df,state_dumies], axis=1)

In [29]:
df.head()

   R&D Spend  Administration  Marketing Spend     Profit  Florida  New York
0  165349.20       136897.80        471784.10  192261.83        0         1
1  162597.70       151377.59        443898.53  191792.06        0         0
2  153441.51       101145.55        407934.54  191050.39        1         0
3  144372.41       118671.85        383199.62  182901.99        0         1
4  142107.34        91391.77        366168.42  166187.94        1         0

In [35]:
X= df.drop(["Profit"],axis=1).values
y=df["Profit"].values

# Training the model

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [38]:
model=LinearRegression()

In [39]:
model.fit(X_train,y_train)

LinearRegression()

In [43]:
y_pred=model.predict(X_test)

# Accuracy test

In [44]:
score = r2_score(y_test,y_pred)

In [45]:
score

0.9475312056928277