# Importing libaries

In [16]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

# Loading dataset

In [17]:
df= pd.read_csv("insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

# Preprocessing dataset

In [3]:
sex_dummies= pd.get_dummies(df["sex"], drop_first=True)

In [4]:
df["region"].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [5]:
region_dummies= pd.get_dummies(df["region"], drop_first=True)

In [6]:
smoker_dummies= pd.get_dummies(df["smoker"], drop_first=True)

In [7]:
df=pd.concat([df,region_dummies, sex_dummies,smoker_dummies], axis=1)

In [11]:
data_set=df.drop(["region","sex","smoker"],axis=1)

In [19]:
y= data_set["charges"].values
X= data_set.drop(["charges"], axis=1).values

# Training model

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [22]:
model=LinearRegression()

In [24]:
model.fit(X_train,y_train)

LinearRegression()

In [26]:
y_pred= model.predict(X_test)

# Accuracy test

In [28]:
score= r2_score(y_test,y_pred)

In [29]:
score

0.7605492639270064